
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilo para la imagen principal */
.ImagenPrincipal {
    width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
    height: 100vh; /* Asegura que ocupe todo el alto de la ventana */
    
    position: relative; /* Se posiciona de manera absoluta */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* La pone en el fondo */
    display: flex;
}

.feature {
    
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    top:80%;
    left: 10%;
    transform: translate(-50%, -50%);
    
}


/* Estilo para la segunda sección "Nuestros Cohetes" */
section {
   
    background-color: #f1f1f1; /* Fondo gris claro para la segunda sección */
    position: relative;
    z-index: 2; /* Asegura que la segunda sección esté por encima de la imagen*/ 
    margin: 0;
    padding: 0;
}




/* Estilo adicional para el botón */
.btn {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para el botón */
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Cambio de color cuando el ratón pasa por encima */
}