
@font-face {
    font-family: 'antonio';
    src: url("../images/Antonio-SemiBold.ttf") format(Truetype);
}

body{
    background: url('../images/fotofondito.jpg') no-repeat center center/cover; /* ✅ Imagen de fondo */
    background-size:cover; /* ✅ La imagen se ajusta al ancho y mantiene la proporción */
    margin-top:15%;
    background-attachment: fixed; /* ✅ Para que el fondo se quede fijo */
    color: #E8ECF3;
    font-family: antonio;

}