
@font-face {
    font-family: 'antonio';
    src: url("../images/Antonio-SemiBold.ttf") format(Truetype);
}

ul{
    list-style: none;
}
p{
    margin-bottom: 20px;
    
}
body{

    background: url('../images/nuevo2.jpg') no-repeat center center/cover; 
    background-size:cover; 
    margin-top: 155px;
    background-attachment: fixed; 
    color: #E8ECF3;
    font-family: antonio;
    text-align: center;

}
h2,h1 {
    font-family: 'Orbitron';
    background-color: rgba(20, 20, 20, 0.02);
}

h3{
    text-align: left;
    margin-left: 40px;
}

.ppal{
    margin-top: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background: rgba(20, 20, 20, 0.75);
    min-height: calc(100vh - 80px);
    width: 70%;
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 15px;
    width: 100%;
    align-items: center; /* Centra verticalmente */
    padding: 3%;
    
}
.sec1 img {
    width: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsionar */
    border-radius: 16px;
}
.sec1 p {
    
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    line-height: 1.8;

}


@media (max-width: 768px) {
    .sec1 {
        grid-template-columns: 1fr; /* Una sola columna */
        gap: 10px;
    }
    
    .sec1 img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 16px;
    }

    .ppal {
        width: 90%; /* Ajusta el ancho para móviles */
    }

    .sec1:nth-of-type(2),
    .sec1:nth-of-type(4) {
        display: flex;
        flex-direction: column-reverse; /* Imagen abajo, texto arriba */
    }
}